<div class=" container card text-center">
  <div class="card-header">
    QUE ES ANGULAR?
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        Basicamente es un FrameWork de js, que nos permite crear paginas Single Page APLICATION
        , con la consecuencia que dicho frameWork, trabajará desde diversos <code>template</code>
        para su visualizacion independiente y mas eficaz.
        Esto lo mas elegante simple y proactiva en su ejecucion.-
      </p>
      <footer class="blockquote-footer">Realizado por: <cite>A 7 0</cite></footer>
    </blockquote>

  </div>
</div>