<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Os da la Bienvenida {{nombre}} a mi pagina de Angular </h5>
    <span class="text-muted">Curso Programacion Multiplataforma</span>
    <div class="container fixed top">
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Angular </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="  navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="text-white nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class=" text-white  nav-link" href="#">Router Link</a>
              </li>
              <li class=" nav-item">
                <a class="  text-white  nav-link" href="#">Instalaciones</a>
              </li>
            </ul>
            <span class="navbar-text text-white">
              Bienvenido a mi primera pagina de Angular
              <code>Realizado por: </code>{{nombre}}
            </span>
          </div>
        </div>
      </nav>  
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<app-logo></app-logo>
<app-texto></app-texto>
<!--Ejemplo de arquitectura de desarrollo-->
<!-- <app-header></app-header>
<app-nav></app-nav>
<app-secciones></app-secciones>
<app-seccion1></app-seccion1>
<app-footer></app-footer> -->